.App{
  padding-left: 500px;
  background-color: antiquewhite;
  height: 100vh;
}

.header{
  font-size: x-large;
  margin-bottom: 10px;
  padding-top: 10px;
}

.generalInformation{
  border: 2px black;
  height: 360px;
  width: 500px;
  background-color: whitesmoke;
  padding-left: 50px;
  padding-top: 20px;
}

.name{
  font-size: x-large;
  margin-bottom: 10px;
}

.email{
  font-size: x-large;
  margin-bottom: 10px;
}

.phoneNumber{
  font-size: x-large;
  margin-bottom: 10px;
}

.button{
  font-size: x-large;
  margin-right: 20px;
}

.educationalInformation{
  border: 2px black;
  height: 360px;
  width: 500px;
  background-color: whitesmoke;
  padding-left: 50px;
  padding-top: 20px;
}

.schoolName{
  font-size: x-large;
  margin-bottom: 10px;
}

.branch{
  font-size: x-large;
  margin-bottom: 10px;
}

.course{
  font-size: x-large;
  margin-bottom: 20px;
}

.practicalInformation{
  border: 2px black;
  height: 360px;
  width: 500px;
  background-color: whitesmoke;
  padding-left: 50px;
  padding-top: 20px;
}

.companyName{
  font-size: x-large;
  margin-bottom: 10px;
}

.date{
  font-size: x-large;
  margin-bottom: 10px;
}

.positionTitle{
  font-size: x-large;
  margin-bottom: 10px;
}
